body{
    background-color:  #c0dfd9;
}
.col-sm-10{
  background-color:#FFFFFF;
}
#sideBar .active a{
  color: #3b3a36;
  font-weight: bold;
  background-color:  #e9ece5;
}
#Sidebar a:hover{
  color: #3b3a36;
  font-weight: bold;
  background-color: #e9ece5;
  display: block;

}
#Footer{
padding:10px;
border-top: 1px solid blue;
color: #FFFFFF;
background-color: #3b3a36;
text-align: center;
}
.navbar-nav li{
   font-weight:bold;
   font-size: 1.2em;
   color: #6ed3cf;
}
#heading{
  font-weight: bold;
}
#heading:hover{
  color: #9068be;
}
.blogpost{
  padding: 10px;
  overflow: hidden;
}
.description{
  color:#3b3a36 ;
  font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
  margin-top:-2px;
}
.post{
  font-size: 1.1em;
  font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
  text-align: justify;
}
.btn-info{
  float: right;
}
.head{
color: #6ed3cf  
}
